:root {
  background-color: rgb(217, 237, 237);
}
.section {
  width: 90vw;
  margin: 0 auto;
  margin-top: 10rem;
  max-width: 25rem;
  background: white;
  border-radius: 0.25rem;
  padding: 2rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: all ease-in-out 0.2s;
}

.section:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.form {
  text-align: center;
}

.form h2 {
  margin-bottom: 0.25rem;
}

.heading-underline {
  background: rgb(188, 228, 228);
  width: 5rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: 0.5rem;
}

.form-row {
  margin-top: 2rem;
  border-radius: 0.5rem;
  height: 2.5rem;
}

.form-input {
  width: 15rem;
  height: 1.25rem;
}

.form-button {
  height: 1.5rem;
  background: rgb(188, 228, 228);
  border-color: transparent;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.list {
  display: grid;
  row-gap: 1rem;
  margin-top: 1rem;
}

.single-item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 1rem;
  align-items: center;
}

.single-item h4 {
  text-transform: capitalize;
  letter-spacing: 1px;
}

.delete-icon {
  color: red;
}
